node_modules/
dist/
coverage/
packages/core/src/generated/
preview/
*.log
.DS_Store
packages/core/assets/
import-report.json
examples/*/node_modules/
examples/*/dist/
examples/*/package-lock.json
.cache/
packages/core/README.md
examples/*/.next/
examples/*/next-env.d.ts
