node_modules/
dist/
packages/core/src/generated/
logos/**/*.svg
package-lock.json
packages/core/assets/
examples/*/dist/
examples/*/package-lock.json
.cache/
examples/*/.next/
examples/*/next-env.d.ts
